*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Maven
**/target/**/*

#Dart
**/build/**/*
**/.pub/**/*
**/packages/**/*

#Misc
/release/**/*
**/src/gen/**/*
/.metadata/**/*
RemoteSystemsTempFiles/.project
eurydome-backend/config/000-admin.conf
documentation/doc.out
documentation/doc.pdf
eurydome-backend/spring.log
eurydome-backend/spring.log.1
eurydome-backend/spring.log.2
eurydome-backend/spring.log.3
docker/sc/scc-install.tar