<div>
  
  <h1>Docker Platform Service - Admin Login</h1>

  <div>
    <form action="/admin/login" method="post">
      <div>
        <lable>Username:</lable>
        <input name="username" type="text" placeholder="Username" >
      </div>    
      <div>
        <lable>Password:</lable>
        <input name="password" type="password" placeholder="Password" >
      </div>    
      <div>
        <input type="submit" text="Login" >
      </div>
    </form>
  </div>

  <div>
    <a href="#/Login" >Login</a>
  </div>

</div>